@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center mb-3">
	<h1 class="display-4">Mfx Movie Reviews</h1>
	<div class="row pt-1">
		<div class="col-3"></div>
		<p class="col-6 text-secondary text-break">
			Welcome to my movie review aggregator site with an emphasis
			on reviews from my favorite movie critic, Roger Ebert.
		</p>
		<div class="col-3"></div>
	</div>
</div>
